<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Image uploaded</title>
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
  </head>

  <body>

		<section class="hero is-fullheight">
			<div class="hero-body is-centered">
				<div class="container">
					<div class="columns is-centered is-vcentered">
						
						<div class="column is-6">
                            <p class="title is-size-1">Image successfully uploaded!</p>

                            <img class="image" src="<%= link %>">
                            <p class="is-size-4">URL: <a href="<%= link %>" target="_blank"><%= link %></a></p>
                        </div>

					</div>
				</div>
			</div>
	</section>

  </body>

</html>